/build
/output
/sln
/third_part/boost_1_59_0/*
/third_part/ffmpeg/*
/third_part/protobuffer/*
/third_part/zmq/*
/third_part/x264/*
/pic
/camera_test/FlyCapture2/*
/testApi
/x264
/tmp
/third_part/opencv
/third_part/freetype2
*.jpg
*.rgb
*.yuv
*.sdf
*.opendb
*/x64/
*/output/*
*.aac
*.mov
*.pcm
*.lib
*/Debug
*/*.db
*.db
*.bak
/DALSACamera/Release
*/log.txt
/DeckLink
.svn